@{
    Layout = "_Layout";
    var currentPage = Context.Request.Path;
    var navItems = new List<string> { "/Conta/Login", "/Conta/Registrar"};
}


<div class="row justify-content-center">
    <div class="col-5 mt-5">
        <div class="card login-logout-card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    @foreach (var item in navItems)
                    {
                        <li class="nav-item @(currentPage.Value.Contains(item.ToLower()) ? "active" : "")">
                            <a class="nav-link" href="@item">@item.Substring(7)</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-10 my-4">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @await RenderSectionAsync("Scripts", required: false)
}