@using Microsoft.AspNetCore.Identity
@using MoneySenseWeb.Areas.Identity.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <div class="titles d-flex flex-column ps-3">
        <h6 class="mb-0">MoneySense</h6>
            <span class="text-muted">@UserManager.GetUserName(User)</span>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Conta/Login", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Sair</button>
            </form>
        </li>
    </div>
}
else
{
    <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Conta/Registrar">Registrar</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Conta/Login">Login</a>
    </li>
}
</ul>
