@{
    List<object> menuItems = new List<Object>();

    menuItems.Add(new
    {
        text = "Dashboard",
        url = "/",
        iconCss = "fa-solid fa-box",
    });
    menuItems.Add(new
    {
        text = "Categorias",
        url = "/categorias",
        iconCss = "fa-solid fa-folder-closed",
    });
    menuItems.Add(new
    {
        text = "Movimentações",
        iconCss = "fa-solid fa-arrow-right-arrow-left",
        url = "/movimentacoes"
    });
}

<ejs-sidebar id="sidebar" width="290px" enableDock dockSize="100px"
             target=".dock-target" enableGestures="false" >
    <e-content-template>

        <div class="logo-wrapper">
            <div class="app-logo">
                <img src="~/foto.jpg" />
            </div>
            <div class="w-100"></div>
            <i id="sidebar-toggler" class="fa-solid"></i>
        </div>

        <div class="profile-wrapper">
            <img class="profile-pic" src="~/foto.jpg" />
            <div class="titles d-flex flex-column ps-3">
                <h6 class="mb-0">MoneySense</h6>
                <span class="text-muted">Leonardo Romeiro</span>
            </div>
        </div>

        <ejs-menu id="menu"
                  items="menuItems"
                  orientation="Vertical"
                  hamburgerMode></ejs-menu>
    </e-content-template>
</ejs-sidebar>
