@{
    List<object> menuItems = new List<Object>();

    menuItems.Add(new
    {
        text = "Dashboard",
        url = "/",
        iconCss = "fa-solid fa-box",
    });
    menuItems.Add(new
    {
        text = "Categorias",
        url = "/categorias",
        iconCss = "fa-solid fa-folder-closed",
    });
    menuItems.Add(new
    {
        text = "Movimentações",
        iconCss = "fa-solid fa-arrow-right-arrow-left",
        url = "/movimentacoes"
    });
    menuItems.Add(new
    {
        text = "Sobre",
        iconCss = "fa-solid fa-arrow-right-arrow-left",
        url = "/Sobre"
    });
}

<ejs-sidebar id="sidebar" width="290px" enableDock dockSize="100px"
             target=".dock-target" enableGestures="false" >
    <e-content-template>
@* 
        <div class="logo-wrapper"> LOGO!!
            <div class="app-logo">
                <img src="~/foto.jpg" />
            </div>
            <div class="w-100"></div>
            <i id="sidebar-toggler" class="fa-solid"></i>
        </div> *@

        <div class="profile-wrapper">
            <partial name="_LoginPartial" />
        </div>


        <ejs-menu id="menu"
                  items="menuItems"
                  orientation="Vertical"
                  hamburgerMode></ejs-menu>
    </e-content-template>
</ejs-sidebar>
