@page "/Familia/criar"
@model Family.AddModel
@{
    ViewData["PageTitle"] =  "Nova categoria";
}

<div class="row">
    <div class="col-md-7">
        <div class="widget p-5">
            <form method="post">
                <div class="mb-3">
                    <ejs-textbox id="Surname" placeholder="Sobrenome" ejs-for="Model.Surname" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Model.Surname" class="text-danger fs-6"> </span>
                </div>
                <div id="familyFields" style="display: none;">
                    <div class="form-floating mb-3">
                        <input asp-for="Model.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="family@example.com" />
                        <label asp-for="Model.Email">Email da Família</label>
                        <span asp-validation-for="Model.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-check form-switch">
                    <div class="form-label">
                        <label class="form-label">Deseja incluir a familia?</label>
                    </div>
                    <input type="checkbox" id="individual" checked="true" />
                    <label class="form-check-label">Uso individual</label>
                    <input type="checkbox" id="family" />
                    <label class="form-check-label">Familia</label>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Model.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Model.Password">Senha</label>
                    <span asp-validation-for="Model.Password" class="text-danger"></span>
                </div>
                <ejs-button id="submit" type="submit" content="Salvar" cssClass="e-success"></ejs-button>
            </form>
        </div>
    </div>
    <div class  ="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
