@page "/Sobre"
@model PrivacyModel
﻿@{
    ViewData["Title"] = "Política de privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>1. Introdução</p>
<br>
<p>Bem-vindo ao MoneySense. Esta Política de Privacidade foi criada para informar como coletamos, usamos e protegemos suas informações pessoais quando você usa nosso site e nossos serviços.</p>
<br>
<p>2. Coleta de Informações</p>
<br>
<p>Coletamos informações pessoais que você fornece voluntariamente ao se registrar em nosso site, como nome, endereço de e-mail e detalhes financeiros. Também coletamos informações automaticamente, como seu endereço IP, informações do dispositivo, cookies e dados sobre sua atividade em nosso site.</p>
<br>
<p>3. Uso de Informações</p>
<br>
<p>Usamos suas informações para fornecer, manter e melhorar nossos serviços, para desenvolver novos serviços e para proteger o MoneySense e nossos usuários.</p>
<br>
<p>4. Compartilhamento de Informações</p>
<br>
<p>
    Não compartilhamos suas informações pessoais com empresas, organizações e indivíduos fora do MoneySense, a menos que uma das seguintes circunstâncias se aplique: com o seu consentimento, para processamento externo (com nossos parceiros de confiança), para cumprir leis ou para proteger direitos, propriedade ou segurança.
</p>
<br>
<p>5. Segurança</p>
<br>
<p>
    Estamos comprometidos em proteger as informações de nossos usuários. Implementamos medidas de segurança para proteger suas informações contra acesso, alteração, divulgação ou destruição não autorizados.
</p>
<br>
<p>6. Alterações na Política de Privacidade</p>
<br>
<p>Podemos alterar esta Política de Privacidade periodicamente. Nesse caso, postaremos as alterações nesta página.</p>
<br>
<p>7. Contato</p>
<br>
<p>Se você tiver alguma dúvida sobre esta Política de Privacidade, entre em contato conosco.</p>
